@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-elasticc.otf") format("opentype");
}

@font-face {
  font-family: "Credible";
  src: url("fonts/Credible-Regular.woff") format("woff");
}

@font-face {
  font-family: "Sniglet";
  src: url("fonts/Sniglet-webfont.woff") format("woff");
}

:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #0f0;
  background-color: #0f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}

::selection {
  background-color: #f0f;
  color: #0f0;
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #000;
    background-color: #0f0;
  }
} */
